<head>
    <title>{{ title|replace('&nbsp;', ' ')|escape }} | {{ site_title }}</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">

    {# mobile #}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    {% if block('socialTags') is defined %}
        {{ block('socialTags') }}
    {% endif %}

    <link rel="alternate" type="application/rss+xml" title="{{ site_title }} Blog RSS" href="/rss.xml">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    {# Font Awesome 5.2 - 2018-07 #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    {# Twitter Bootstrap - locally for css classes autocomplete #}
    <link href="/assets/bootstrap/bootstrap.min.css?v={{ random() }}" rel="stylesheet" type="text/css"/>

    <link href="/assets/prism/prism.css?v={{ random() }}" rel="stylesheet" type="text/css"/>

    {# this is the last, so prism can be overriden here #}
    <link href="/assets/css/style.css?v={{ random() }}" rel="stylesheet" type="text/css"/>

    <link href="/assets/gifplayer/gifplayer.css" rel="stylesheet" type="text/css"/>

    {# bookies checklist #}
    <link href="/assets/css/checklist.css?v={{ random() }}" rel="stylesheet" type="text/css"/>
</head>
