<head>
    <title>{{ title|striptags|replace('&nbsp;', ' ')|escape }} | {{ site_title }}</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">

    {# mobile #}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    {% if post is defined %}
        {# Facebook sharing #}
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="{{ post.title|striptags|replace('&nbsp;', ' ')|escape }}"/>
        <meta property="og:description" content="{{ post.perex|striptags }}"/>
        <meta property="og:url" content="{{ site_url }}/{{ post|link }}"/>
        {% if post.image %}
            <meta property="og:image" content="{{ site_url }}/{{ post.image|trim('/', 'left') }}"/>
        {% endif %}

        {# Twitter sharing #}
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@draciodkaz">
        <meta name="twitter:title" content="{{ post.title|striptags|replace('&nbsp;', ' ')|escape }}"/>
        <meta name="twitter:description" content="{{ post.perex|striptags }}"/>
        {% if post.image %}
            <meta property="twitter:image" content="{{ site_url }}/{{ post.image|trim('/', 'left') }}"/>
        {% endif %}
    {% endif %}

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?version=67a0d47ef871ca28a6eef473e796aef8"/>

    <link rel="alternate" type="application/rss+xml" title="{{ site_title }} Blog RSS" href="/rss.xml">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="/assets/font-awesome.5.0.13/css/fontawesome-all.min.css">

    <link href="/assets/bootstrap-4.0.0/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="/assets/prism-1.15.0/prism.css" rel="stylesheet" type="text/css"/>

    {# this is the last, so prism can be overriden here #}
    <link href="/assets/css/style.css?version=a4f2cff10f5902a5bf14a9e60765763f" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/perex.css?version=a1d916d6f09e812bfe36c6066eaa1fc6" rel="stylesheet" type="text/css"/>

    <link href="/assets/gifplayer-0.3.3/gifplayer.css" rel="stylesheet" type="text/css"/>

    {# bookies checklist #}
    <link href="/assets/css/checklist.css?version=e49b5e8dd3b20c52a0236bd09219c07d" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/assets/js/redirect.js?version=244e5a4322329db89bfa7ccf0091f6ac"></script>
</head>
