<!DOCTYPE html>
<html lang="cs">
{% include "_snippets/head.twig" %}
<body>
<div class="background-image"></div>
<!-- post_id: {{ post.getId() }} -->

{% include "_snippets/menu.twig" %}
</head>

<div class="mainContent">
    <div class="container-fluid" id="post">
        <h1>{{ post.title|raw }}</h1>

        {% include "_snippets/post/post_metadata_line.twig" with { "post": post, "showPullRequestLink": TRUE, "showCommentCount": false } %}

        {% if post.deprecated_since is defined %}
            <div class="card border-danger card-bigger">
                <div class="card-header text-white bg-danger">
                    <strong>This post is deprecated since {{ post.deprecated_since }}</strong>
                </div>
                <div class="card-body">
                    {{ post.deprecated_message|markdown|raw }}
                </div>
            </div>

            <br>
        {% endif %}

        {% if post.updated_since is defined %}
            <div class="card border-success card-bigger">
                <div class="card-header text-white bg-success">
                    <strong>This post was updated on {{ post.updated_since }}</strong>
                </div>
                <div class="card-body">
                    {{ post.updated_message|markdown|raw }}
                </div>
            </div>

            <br>
        {% endif %}

        {% if post.perex %}
            <div class="card card-bigger">
                <div class="card-body perex">
                    {{ post.perex|raw }}
                </div>
            </div>
        {% endif %}


        {% if post.getImageAuthor() %}
            <div>
                {{ post.getImageAuthor()|raw }}
                <hr>
            </div>
        {% endif %}

        {{ post.content|raw }}

        <br>

        {% if post.tested is defined %}
            <div class="mt-1 mb-5 card">
                <div class="card-header text-center">
                    <h3 class="text-center mt-2">
                        <em class="fas fa-check text-success"></em>
                        &nbsp;
                        Travis Knows the Code Works
                    </h3>
                </div>

                <div class="card-body">
                    {% set testDirectoryOnGithub %}{{ github_repository_tests_directory }}/Posts/Year{{ post.getDateInFormat('Y') }}/{{ post.test_slug }}{% endset %}

                    <p>
                        The code used in this post is tested daily with Travis CI. You can <a
                                href="{{ testDirectoryOnGithub }}">see tests on Github</a>.
                    </p>

                    <div>
                        Thanks to tests this post:
                        <ul>
                            <li>always run against the most recent dependencies</li>
                            <li>
                                <strong>gets updates and stays relevant for many years</strong> even when ne
                                <a href="https://semver.org/#spec-item-8">major version</a> of PHP or Symfony is
                                released
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="licence">
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"
               title="Toto dílo podléhá licenci Creative Commons, Uveďte původ, 4.0 Mezinárodní Licence">
                <img alt="Licence Creative Commons" style="border-width:0"
                     src="/assets/images/CC-BY.png"/>
            </a>
        </div>

        {# show previous post #}
        {% set nextPost = posts|next_post(post) %}
        {% set previousPost = posts|previous_post(post) %}
        {% if previousPost or nextPost %}
            <div class="card mb-5 mt-4">
                <div class="card-deck">
                    {% if previousPost %}
                        <div class="card-body text-left">
                            <a href="/{{ previousPost|link }}/">
                                <em>
                                    &lt;&lt;
                                    <span class="hidden-sm-down">{{ previousPost.date|date('j. n. Y') }}</span>
                                    {{ previousPost.title|replace('&nbsp;', ' ')|raw }}
                                </em>
                            </a>
                        </div>
                    {% endif %}
                    {% if nextPost %}
                        <div class="card-body text-right">
                            <a href="/{{ nextPost|link }}/">
                                <em>
                                    <span class="hidden-sm-down">{{ nextPost.date|date('j. n. Y') }}</span>
                                    {{ nextPost.title|replace('&nbsp;', ' ')|raw }}
                                    &gt;&gt;
                                </em>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <div class="mb-5 hidden-sm-down text-center">
            <a href="{{ post|githubEditPostUrl }}" class="btn btn-warning btn-sm">
                <em class="fas fa-fw fa-edit"></em>
                Oprav překlep, zachráníš mozkovou buňku
            </a>
        </div>

        <a name="comments"></a>

        {% include "_snippets/disqus_comments.twig" %}
    </div>

    <script id="dsq-count-scr" src="https://{{ disqus_shortname }}.disqus.com/count.js" async></script>
</div>

{% include "_snippets/footer.twig" %}
</body>
</html>
