---
layout: "_layouts/default.twig"
title: "Blog z vývoje"
id: blog
---

<div class="container-fluid" id="blog">
    {% include "_snippets/comming_actions.twig" %}

    <div class="row">
        {% set date_lines = [] %}

        {% for post in posts if post.deprecated_since is not defined %}
            {% set postYear = post.getDateInFormat('Y') %}
            {% set currentYear = "now"|date('Y') %}

            {% if postYear != currentYear and postYear not in date_lines %}
                <div class="col-md-12 yearLine mb-5 clearfix" id="year-{{ postYear }}">
                    {{ postYear }}
                    {% set date_lines = date_lines|merge([postYear]) %}
                </div>
            {% endif %}

            {% if loop.first %}
                <article class="pt-2 pb-4 mb-4 col-md-12">
                    <h2 class="first-post text-center">
                        <a href="/{{ post|link }}/">
                            {{ post.title|raw }}
                        </a>
                    </h2>

                    <div class="text-center">
                        {% include "_snippets/post/post_metadata_line.twig" with { post: post } %}
                    </div>

                    <div class="card">
                        <a class="card-body perex" href="{{ post|link }}">{{ post.perex|raw }}</a>
                    </div>
                </article>
            {% else %}
                {% if loop.index == 2 %}<ul class="list-unstyled">{% endif %}
                <li class="mb-3 col-md-12">
                    <a href="/{{ post|link }}/">{{ post.title|raw }}</a>
                    {% include "_snippets/post/post_metadata_line.twig" with { post: post } %}
                </li>
                <hr>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
